<form *ngIf="form" [formGroup]="form" class="circles-form">
  <h3><strong>Base params</strong></h3>
  <mat-form-field appearance="outline">
    <mat-label>Stroke Color</mat-label>
    <input matInput formControlName="strokeColor" [matAutocomplete]="colors">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Stroke Weight</mat-label>
    <input matInput formControlName="strokeWeight" type="number">
  </mat-form-field>

  <hr/>

  <h3><strong>Circles params</strong></h3>
  <mat-form-field appearance="outline">
    <mat-label>Diameter</mat-label>
    <input matInput formControlName="diameter" type="number">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Position</mat-label>
    <input matInput formControlName="position" type="number">
  </mat-form-field>
</form>

<mat-autocomplete autoActiveFirstOption #colors="matAutocomplete">
  <mat-option *ngFor="let color of colors$ | async" [value]="color">
    <div class="color-option-container">
      <div class="color-block-option" [ngStyle]="{'background-color': color}">
      </div>
      {{color}}
    </div>
  </mat-option>
</mat-autocomplete>
