<form *ngIf="form" [formGroup]="form" class="centered-shape-form">
  <h3><strong>Base params</strong></h3>
  <mat-form-field appearance="outline">
    <mat-label>Fill Color</mat-label>
    <input matInput formControlName="fillColor" [matAutocomplete]="colors">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Stroke Color</mat-label>
    <input matInput formControlName="strokeColor" [matAutocomplete]="colors">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Stroke Weight</mat-label>
    <input matInput formControlName="strokeWeight" type="number">
  </mat-form-field>

  <hr/>

  <h3><strong>Outline Shape params</strong></h3>
  <mat-form-field appearance="outline">
    <mat-label>Shape</mat-label>
    <mat-select matInput formControlName="shape">
      <mat-option value="hexagon">hexagon</mat-option>
      <mat-option value="circle">circle</mat-option>
    </mat-select>
  </mat-form-field>

  <div class="action-buttons">
    <button mat-raised-button color="accent" type="button"
      (click)="randomize.emit()">
      Randomize
    </button>
  </div>
</form>

<mat-autocomplete autoActiveFirstOption #colors="matAutocomplete">
  <mat-option *ngFor="let color of colors$ | async" [value]="color">
    <div class="color-option-container">
      <div class="color-block-option" [ngStyle]="{'background-color': color}">
      </div>
      {{color}}
    </div>
  </mat-option>
</mat-autocomplete>
