<mat-toolbar color="primary">
  <button mat-icon-button (click)="navBack()">
    <mat-icon>arrow_back_ios</mat-icon>
  </button>
</mat-toolbar>
<div class="row">
  <div class="col">
    <cc-color-palette-form [(colors)]="palette"></cc-color-palette-form>
  </div>
  <div class="col">
    <button mat-raised-button color="accent" (click)="randomize()">
      Randomize
    </button>
    <cc-crystal [(layers)]="layers" (imageData)="onImageData($event)"></cc-crystal>

    <button mat-raised-button color="accent"
      [disabled]="!allowDownload"
      (click)="downloadCrystal()">
      Download
    </button>
  </div>
  <div class="col">
    <cc-layers-form [layers]="layers"
      (layersChange)="layersChange($event)"
      (addLayerPress)="addLayer()"
      (randomizeLayerData)="randomizeLayer($event)">
    </cc-layers-form>
  </div>
</div>
