<mat-toolbar color="primary"></mat-toolbar>
<div class="row">
  <div class="col">
    <cc-color-palette-form [(colors)]="palette"></cc-color-palette-form>
  </div>
  <div class="col">
    <button mat-raised-button color="accent" (click)="randomize()">
      Randomize
    </button>
    <cc-crystal [layers]="layers"></cc-crystal>
  </div>
  <div class="col">
    <button mat-raised-button color="accent" (click)="redraw()">
      Redraw
    </button>
    <cc-layers-form [layers]="layers"
      (layersChange)="redraw()"
      (addLayerPress)="addLayer()"
      (layersReordered)="redraw()"
      (randomizeLayerData)="randomizeLayer($event)">
    </cc-layers-form>
  </div>
</div>
