<div class="menu">
  <button mat-icon-button class="randomize-button" (click)="randomize()">
    <mat-icon>casino</mat-icon>
  </button>
  <button mat-icon-button class="edit-button" (click)="switchToEditMode()">
    <mat-icon>photo_filter</mat-icon>
  </button>
  <button mat-icon-button class="info-button" (click)="toggleInfo()">
    <mat-icon>info_outline</mat-icon>
  </button>
</div>

<div class="sketch-container">
  <div id="sketch-sheet" #sketchSheet></div>
</div>


<div [ngClass]="{'hidden': !showPreview}" class="dialog">
  <div class="crystal-container">
    <cc-crystal [layers]="selectedCrystal.layers"></cc-crystal>
    <button id="edit-button" mat-raised-button color="accent"
      (click)="switchToEditMode()">
      Edit
    </button>
  </div>
</div>

<cc-info-panel [(hide)]="hideInfo"></cc-info-panel>
