<form *ngIf="form" [formGroup]="form" class="lines-form">
  <h3><strong>Base params</strong></h3>
  <mat-form-field appearance="outline">
    <mat-label>Stroke Color</mat-label>
    <input matInput formControlName="strokeColor" [matAutocomplete]="colors">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Stroke Weight</mat-label>
    <input matInput formControlName="strokeWeight" type="number">
  </mat-form-field>

  <hr/>

  <h3><strong>Stepped Hexagons params</strong></h3>
  <mat-form-field appearance="outline">
    <mat-label>Steps</mat-label>
    <input matInput formControlName="steps" type="number">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Min steps</mat-label>
    <input matInput formControlName="minSteps" type="number">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Max steps</mat-label>
    <input matInput formControlName="maxSteps" type="number">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Center offset</mat-label>
    <input matInput formControlName="centerOffset" type="number">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Rotation</mat-label>
    <input matInput formControlName="rotation" type="number">
  </mat-form-field>

  <div class="action-buttons">
    <button mat-raised-button color="accent" type="button"
      (click)="randomize.emit()">
      Randomize
    </button>
  </div>
</form>

<mat-autocomplete autoActiveFirstOption #colors="matAutocomplete">
  <mat-option *ngFor="let color of colors$ | async" [value]="color">
    <div class="color-option-container">
      <div class="color-block-option" [ngStyle]="{'background-color': color}">
      </div>
      {{color}}
    </div>
  </mat-option>
</mat-autocomplete>
