
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
@import 'theme.scss';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$p5js-sticker-generator-primary: mat-palette($light, 50);
$p5js-sticker-generator-accent: mat-palette($primary, 700);

// The warn palette is optional (defaults to red).
$p5js-sticker-generator-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$p5js-sticker-generator-theme: mat-light-theme((
  color: (
    primary: $p5js-sticker-generator-primary,
    accent: $p5js-sticker-generator-accent,
    warn: $p5js-sticker-generator-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($p5js-sticker-generator-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  background-color: $baby-powder;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
}

.color-option-container {
  display: flex;
  .color-block-option {
    height: 20px;
    margin: auto 5% auto 0;
    width: 20px;
  }
}