<form *ngIf="form" [formGroup]="form" class="lines-form">
  <h3><strong>Base params</strong></h3>
  <mat-form-field appearance="outline">
    <mat-label>Fill Color</mat-label>
    <input matInput formControlName="fillColor" [matAutocomplete]="colors">
  </mat-form-field>

  <hr/>

  <h3><strong>Lines params</strong></h3>
  <mat-form-field appearance="outline">
    <mat-label>Num Lines</mat-label>
    <input matInput formControlName="numLines" type="number">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Dot Size</mat-label>
    <input matInput formControlName="dotSize" type="number">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Center Offset</mat-label>
    <input matInput formControlName="centerOffset" type="number">
  </mat-form-field>

  <div class="action-buttons">
    <button mat-raised-button color="accent" type="button"
      (click)="randomize.emit()">
      Randomize
    </button>
  </div>
</form>

<mat-autocomplete autoActiveFirstOption #colors="matAutocomplete">
  <mat-option *ngFor="let color of colors$ | async" [value]="color">
    <div class="color-option-container">
      <div class="color-block-option" [ngStyle]="{'background-color': color}">
      </div>
      {{color}}
    </div>
  </mat-option>
</mat-autocomplete>
